.git
.github
.DS_Store

node_modules
dist
coverage

.idea
.vscode

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
node_modules
dist

# Docker artifacts not needed in build context
Dockerfile
docker-compose.yml
